// -----------------------------------------------------------------------------
// Component  : Button styles
// Created on : 3/3/2019 19:16:41
// Created by : Vaibhav Shringarpure
// -----------------------------------------------------------------------------

/* Import Utils */
@import '../../../scss/utils';
@import '../../../scss/typography';

.button {
  -webkit-appearance: none;
  background: $hm-grey-3;
  border: 0;
  padding: 10px;
  text-align: center;
}

.button-link {
  -webkit-appearance: none;
  background: transparent;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  cursor: pointer;
  margin-bottom: 0;
  padding: 0;
  @extend a;
}
