// -----------------------------------------------------------------------------
// Component  : Header styles
// Created on : 3/3/2019 15:08:35
// Created by : Vaibhav Shringarpure
// -----------------------------------------------------------------------------

@import '../../../scss/utils';

.header {
  background: $hm-black;
  display: flex;
  padding: 20px;
  width: 100%;
}

.logo {
  align-items: center;
  display: flex;
  margin-right: 20px;
}

.title {
  align-items: center;
  color: $hm-brand-colour;
  display: flex;
  margin: 0;
}
