/* -----------------------------------------------------------------------------
 Component  : Card styles
 Created on : 24/2/2019 7:13:13 PM
 Created by : Vaibhav Shringarpure
 ----------------------------------------------------------------------------- */

$grey: #dedede;
$white: #ffffff;
$black: #222222;
$orangered: #ff4500;

.card {
  background: $orangered;
  color: $black;
  padding: 20px;
}
